/*
@import "../lib/bootstrap/bootstrap.less";
@import "../lib/bootstrap/theme.less";
@import "bootstrap-fix.less";
@import "../lib/font-awesome-4.4.0/less/font-awesome.less";
*/
.hbox {
  flex-direction: row;
  display: flex;
}
.vbox {
  flex-direction: column;
  display: flex;
}
html {
  flex-direction: row;
  display: flex;
}
body {
  height: 500px;
  flex: 1;
  flex-direction: column;
  display: flex;
}
hbox {
  flex-direction: row;
  display: flex;
}
vbox {
  flex-direction: column;
  display: flex;
}
*[flex='1'] {
  flex: 1;
}
*[flex='2'] {
  flex: 2;
}
*[flex='3'] {
  flex: 3;
}
*[flex='4'] {
  flex: 4;
}
*[flex='5'] {
  flex: 5;
}
*[flex='6'] {
  flex: 6;
}
*[flex='7'] {
  flex: 7;
}
*[flex='8'] {
  flex: 8;
}
*[flex='9'] {
  flex: 9;
}
*[flex='10'] {
  flex: 10;
}
hbox.InputRow > * + *,
hbox.InputRow > * + input[type] {
  margin-left: 1ex;
}
hbox.InputRow {
  align-items: center;
}
/*
button {
    .btn();
}

button:not([role]) {
    .btn-default();
}

button[role='primary'] {
    .btn-primary();
}
button[role='danger'] {
    .btn-danger();
}

*/
footer {
  flex-direction: row;
  display: flex;
  padding: 0.5em;
}
footer:after {
  content: " ";
  flex: 1;
  order: 50;
}
footer > button[role='primary'] {
  order: 99;
  margin-left: 0.3em;
}
footer > button:not([role]),
footer > button[role='dismissal'] {
  order: 98;
  margin-left: 0.3em;
}
footer > button[role='extra1'] {
  order: 1;
  margin-right: 0.3em;
}
footer > button[role='extra2'] {
  order: 2;
  margin-right: 0.3em;
}
footer > button[role='extra3'] {
  order: 3;
  margin-right: 0.3em;
}
html {
  font-size: 0.9em;
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
*:hover::-webkit-scrollbar {
  opacity: 1;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  opacity: 0.2;
}
.mdl-menu__container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.3em #FFF;
}
*:hover::-webkit-scrollbar-track {
  opacity: 1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.1);
  opacity: 0.1;
}
*:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.05);
}
html {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
label {
  font-weight: normal;
}
input[type='number'],
input[type='text'] {
  /*.form-control(); */
  padding: 0px 0px 0px 0.3ex;
}
input[type='text'] {
  padding: 0px 0.5ex !important;
}
