os:
  - linux
  - osx

osx_image: xcode7.3

sudo: required
dist: trusty

env:
  - NODE_VERSION=5.10.0

language: c

matrix:
  include:
    - os: linux
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang
    - os: osx

cache:
  apt: true
  bundler: true
  directories:
    - node_modules
    - app/node_modules
    - $HOME/.electron
    - $HOME/.cache/fpm

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise-3.7
      - mono
    packages:
      - libgnome-keyring-dev
      - icnsutils
      - clang-3.7
      - icnsutils
      - graphicsmagick
      - mono-devel

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install gnu-tar dpkg libicns graphicsmagick git-lfs; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then git lfs pull; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then curl -L https://github.com/github/git-lfs/releases/download/v1.2.0/git-lfs-linux-amd64-1.2.0.tar.gz | tar -xz; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then git-lfs-1.2.0/git-lfs pull; fi

install:
  - nvm install $NODE_VERSION
  - npm install npm -g
  - npm install
  - npm prune

script:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then npm run dist:darwin ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then npm run dist:linux ; fi
